<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>930332205854-1bnqro1sk6l69k200j416o314mj3lo18.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.930332205854-1bnqro1sk6l69k200j416o314mj3lo18</string>
	<key>API_KEY</key>
	<string>AIzaSyC8oe3Sq90P2HTn0M-t4cpgKsg-fHiGAZA</string>
	<key>GCM_SENDER_ID</key>
	<string>930332205854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ilovecats.Eventer-2-0</string>
	<key>PROJECT_ID</key>
	<string>eventer-80d2a</string>
	<key>STORAGE_BUCKET</key>
	<string>eventer-80d2a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930332205854:ios:22e256e7ee647d93d5df0f</string>
	<key>DATABASE_URL</key>
	<string>https://eventer-80d2a.firebaseio.com</string>
</dict>
</plist>